
#navBar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: darkslategray;
}

#navBar a {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-decoration: none;
}

#navBar a:hover {
    color: gold;
}


#eventDiv {
    display: flex;
    flex-direction: row;
    background: lightslategray;
}

#purposeDropDown {
    margin-bottom: .5rem;
}

#foundationDiv {
    background: azure;
}

h2 {
    color: darkblue;
    margin: 1rem;
    cursor: pointer;
}


.clicker:hover {
    color: chartreuse;
}

form {
    margin: 3rem;
}

input {
    height: 2rem;
    margin: 1rem;
}

#dropdownsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.foundationDiv {
    color: darkgreen;
    margin-left: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.foundationDiv:hover {
    color: chartreuse;
}

#foundationDropDown {
    margin-bottom: 4rem;
}

.money {
    width: 4rem;
}

.title {
    width: 15rem;
}

.submitButton {
    background: darkslategray;
    color: gold;
    font-weight: 900;
    height: 2rem;
}

.submitButton:hover {
    background: blueviolet;
}

.extraHighlight:hover {
    color: blueviolet;
}
