* {
    font-size: 1rem;
    letter-spacing: .1em;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 10rem;
    background: gray;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #dddddd;
}
.eventRow {
    background: lightgray;
}

th {
    font-size: 1.4rem;
    font-weight: 900;
    color: darkblue;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1rem 10rem 1rem 0;
    color: darkslategrey;
}

td:hover {
    color: gold;
}

#eventSurgicalDiv {
    margin-top: 10rem;
}

.submitEditing {
    background: lightblue;
}

.submitEditing:hover {
    background: blueviolet;
}

.editingInput::placeholder {
    opacity: 40%;
}

#dollars {
    width: 7rem;
}


