<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/entryPage.css">
    <link rel="stylesheet" href="/events.css">

    <title>All Our Events</title>
</head>

<nav id="navBar">
    <a href="/all-foundations">All Foundations</a>
    <a href="/entry">Entry Page</a>
    <a href="/all-purposes">All Purposes</a>

</nav>
<body>

<header>
    <h1>All Events...</h1>
</header>


<table>
    <tr class="eventRow">
        <th>Title</th>
        <th>Date</th>
        <th>Cost</th>
    </tr>
    <tr th:each="event : ${allEvents}">
        <td th:text="${event.title}"></td>
        <td th:text="${event.date}"></td>
        <td th:text="${event.getCost()}"></td>
    </tr>

</table>


</body>
</html>
