<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/entryPage.css">
    <link rel="stylesheet" href="/events.css">

    <script src="/events.js" defer></script>

    <title>All Our Events</title>
</head>

<nav id="navBar">
    <a href="/all-foundations">All Foundations</a>
    <a href="/entry">Entry Page</a>
    <a href="/all-purposes">All Purposes</a>
</nav>

<body>

<header>
    <h1>All Events...</h1>
</header>


<table id="eventsTable">

</table>

<div id="eventSurgicalDiv">
</div>


</body>
</html>
